# See https://help.github.com/ignore-files/ for more about ignoring files.

# expo
.expo/

# dependencies
/node_modules

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/Documents/NetBeansProjects/Selenium/nbproject/private/
/Documents/NetBeansProjects/SeleniumUAM/nbproject/private/
/Documents/NetBeansProjects/selenium/nbproject/private/
/Documents/NetBeansProjects/JavaApplication4/nbproject/private/
/Documents/NetBeansProjects/JavaApplication1/nbproject/private/
/Documents/NetBeansProjects/JavaApplication1/build/
/Documents/NetBeansProjects/JavaApplication1/dist/
/Documents/NetBeansProjects/axis-shared-db/nbproject/private/